<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Lista de equipamentos</title>

<link rel="stylesheet"
	th:href="@{/bootstrap-5.1.3-dist/css/bootstrap.min.css}">
<script th:src="@{/jquery-3.6.0-dist/jquery-3.6.0.min.js}"></script>
<script th:src="@{/bootstrap-5.1.3-dist/js/bootstrap.min.js}"></script>

</head>
<body>
	<div th:replace="auth/auth-generica-nav :: navGenerica"></div>

	<div class="container">
		<div class="row" style="padding-bottom: 30px;">
			<div class="col">
				<a th:href="@{/equipamento/admin/novo}" class="btn btn-primary"
					th:text="#{equipamento.new}"></a>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-5">
				<form th:action="@{/equipamento/admin/buscar}" method="post">
					<div class="input-group">
						<input type="text" class="form-control" name="nome" /> 
						<input class="btn btn-primary" type="submit" value="Buscar" /> 
						<a th:href="@{/equipamento/admin/listar}" class="btn btn-danger" type="submit" 
						th:text="#{button.cancelar}"></a>
					</div>
				</form>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="alert alert-danger alert-dismissible fade show"
					th:if="${mensagemErro}">
					<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
					<span th:text="${mensagemErro}"></span>
				</div>
				
				<h1 th:text="#{equipamento.list}"></h1>
				<table class="table table-striped">
					<thead>
						<tr>
							<th th:text="#{equipamento.id}"></th>
							<th th:text="#{equipamento.nome}"></th>
							<th th:text="#{equipamento.numeroDeSerie}"></th>
							<th th:text="#{equipamento.fabricante}"></th>
							<th th:text="#{equipamento.valor}"></th>
							<th th:text="#{equipamento.descricao}"></th>
							<th th:text="#{equipamento.categoria}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${equipamentos.empty}">
							<td colspan="2" th:text="#{equipamento.no}"></td>
						</tr>
						<tr th:each="equipamento : ${equipamentos}">
							<td><span th:text="${equipamento.id}"></span></td>
							<td><span th:text="${equipamento.nome}"></span></td>
							<td><span th:text="${equipamento.numeroDeSerie}"></span></td>
							<td><span th:text="${equipamento.fabricante}"></span></td>
							<td><span th:text="${equipamento.valor}"></span></td>
							<td><span th:text="${equipamento.descricao}"></span></td>
							<th:block th:if="${equipamento.categoria != null}">
								<td><span th:text="${equipamento.categoria.nome}"></span></td>
							</th:block>

							<th:block th:unless="${equipamento.categoria != null}">
								<td><span>Sem categoria</span></td>
							</th:block>
							<td><a class="btn btn-outline-danger btn-sm"
								th:href="@{/equipamento/admin/apagar/{id}(id=${equipamento.id})}"
								th:data-confirm-delete="|Você gostaria de apagar ${equipamento.nome}?|"
								onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
								th:text="#{equipamento.delete}"> </a></td>
							<td><a class="btn btn-outline-primary btn-sm"
								th:href="@{/equipamento/admin/editar/{id}(id=${equipamento.id})}"
								th:text="#{equipamento.edit}"> </a></td>

						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>
</body>
</html>